{% extends 'Tracker/bas1.html' %}
{%  load static %}
{% block body_block %}

<div style="padding-left: 220px;padding-top: 100px;">
    <div class="card"  style="width: 70rem; height: 34rem;">
        <h2 class="card-header">Expense Variation</h2>
        <div class="card-body">
          <form action="" method="post">
            <input type="text" name="payment_details" style="font-size: xx-large;"><br>
            <button type="submit" name="Add" value="Add" class="btn btn-success" style="margin-top: 20px;">Add</button>
          </form>
        </div>
      </div>
</div>

{% endblock %}